

<div [class]="classname" >
<div class="flex flex-row justify-center items-center">
  <div class="flex flex-row justify-center items-center text-2xl font-mono p-2    dark:text-white">Light</div>
  <div>
    <input type="checkbox" id="toggle" #toggle class="hidden" (click)=togglebol()>
<label for="toggle">
<div class="w-9 h-5 flex items-center bg-gray-300 rounded-full p-1">
  <div class="w-4 h-4 toggle-dot transform duration-300 bg-white rounded-full shadow-md">

  </div>
</div>
</label>
  </div>
  <div class="flex flex-row justify-center items-center text-2xl font-mono p-2    dark:text-white">Dark</div>

</div>
<simple-notifications ></simple-notifications>

<div class="p-5"></div>
<div class="border-2 border-gray-600 dark:border-white bg-gray-200 sm:mx-1 lg:mx-20 dark:bg-gray-800 rounded-xl">
  <div class="flex flex-row justify-center items-center text-2xl p-2 bg-gray-200  dark:bg-gray-800 font-serif dark:text-white">{{FirstArray.name}} ➝ {{oldStack.name}}</div>
  <div class="flex flex-row justify-center items-center text-2xl font-mono p-2 bg-gray-200 dark:bg-gray-800  dark:text-white">{{l.name}}</div>
  <div class="flex flex-row justify-center items-center font-semibold bg-gray-100 dark:bg-gray-500 rounded-xl lg:mx-36 sm:mx-2 p-1 my-3" *ngFor="let items of m">
    <div class="p-3 py-4 md:text-base sm:text-base font-normal lg:px-3 dark:bg-gray-500 dark:text-white bg-gray-100">id: {{items.id}}</div>
    <div class="p-3 md:text-xl sm:text-base font-semibold lg:px-3 dark:bg-gray-500 dark:text-white bg-gray-100">
      <h1 class="bg-gray-100 dark:bg-gray-500 dark:text-white">{{items.name}}</h1>
    </div>
    <div class="lg:px-3  dark:bg-gray-500 dark:text-black bg-gray-100">
      <button class="uppercase font-normal bg-green-400 hover:bg-green-600 hover:text-white p-1 rounded-lg dark:bg-green-300 dark:text-black"  (click)="onSuccess('Backend Server Started')"  [disabled]="StartButton" >Start</button>
    </div>
    <div class="lg:px-3  px-2 bg-gray-100 dark:bg-gray-500 dark:text-black">
      <button class="uppercase font-normal bg-red-400 hover:bg-red-600 hover:text-white p-1 rounded-lg" (click)="onStop('Backend Server stoped')" [disabled]="StopButton">Stop</button>
    </div>
  </div>
  <div class="flex flex-row justify-center items-center text-2xl font-mono p-2 bg-gray-200 dark:bg-gray-800  dark:text-white">{{p.name}}</div>
  <div class="flex flex-row justify-center items-center font-semibold bg-gray-100 rounded-xl lg:mx-36 sm:mx-2 p-1 my-3 dark:bg-gray-500 dark:text-white" *ngFor="let items of o">
    <div class="p-3 py-4 md:text-base sm:text-base font-normal lg:px-3 bg-gray-100 dark:bg-gray-500 dark:text-white">id: {{items.id}}</div>
    <div class="p-3 md:text-xl sm:text-base font-semibold lg:px-3 bg-gray-100 dark:bg-gray-500 dark:text-white">
      <h1 class="bg-gray-100 dark:bg-gray-500 dark:text-white">{{items.name}}</h1>
    </div>
    <div class="lg:px-3  bg-gray-100 dark:bg-gray-500 dark:text-black">
      <button class="uppercase font-normal bg-green-400 hover:bg-green-600 hover:text-white p-1 rounded-lg"  (click)="onSuccess('Backend Server Started')"  [disabled]="StartButton">start</button>
    </div>
    <div class="lg:px-3  px-2 bg-gray-100 dark:bg-gray-500 dark:text-black">
      <button class="uppercase font-normal bg-red-400 hover:bg-red-600 hover:text-white p-1 rounded-lg" (click)="onStop('Backend Server stoped')" [disabled]="StopButton">stop</button>
    </div>
  </div>
  <div class="flex flex-row justify-center items-center text-2xl p-2 bg-gray-200  dark:bg-gray-800 font-serif dark:text-white pt-5">{{FirstArray.name}} ➝ {{NextgenStack.name}}</div>
  <div class="flex flex-row justify-center items-center text-2xl font-mono p-2 bg-gray-200 dark:bg-gray-800  dark:text-white">{{nextgenbackend.name}}</div>
  <div class="flex flex-row justify-center items-center font-semibold bg-gray-100 dark:bg-gray-500 rounded-xl lg:mx-36 sm:mx-2 p-1 my-3" *ngFor="let items of NgBeArray">
    <div class="p-3 py-4 md:text-base sm:text-base font-normal lg:px-3 dark:bg-gray-500 dark:text-white bg-gray-100">id: {{items.id}}</div>
    <div class="p-3 md:text-xl sm:text-base font-semibold lg:px-3 dark:bg-gray-500 dark:text-white bg-gray-100">
      <h1 class="bg-gray-100 dark:bg-gray-500 dark:text-white">{{items.name}}</h1>
    </div>
    <div class="lg:px-3  dark:bg-gray-500 dark:text-black bg-gray-100">
      <button class="uppercase font-normal bg-green-400 hover:bg-green-600 hover:text-white p-1 rounded-lg dark:bg-green-300 dark:text-black"  (click)="onSuccess('Backend Server Started')"  [disabled]="StartButton" >Start</button>
    </div>
    <div class="lg:px-3  px-2 bg-gray-100 dark:bg-gray-500 dark:text-black">
      <button class="uppercase font-normal bg-red-400 hover:bg-red-600 hover:text-white p-1 rounded-lg" (click)="onStop('Backend Server stoped')" [disabled]="StopButton">Stop</button>
    </div>
  </div>
  <div class="flex flex-row justify-center items-center text-2xl font-mono p-2 bg-gray-200 dark:bg-gray-800  dark:text-white">{{AdminServer.name}}</div>
  <div class="flex flex-row justify-center items-center font-semibold bg-gray-100 dark:bg-gray-500 rounded-xl lg:mx-36 sm:mx-2 p-1 my-3" *ngFor="let items of AdminArray">
    <div class="p-3 py-4 md:text-base sm:text-base font-normal lg:px-3 dark:bg-gray-500 dark:text-white bg-gray-100">id: {{items.id}}</div>
    <div class="p-3 md:text-xl sm:text-base font-semibold lg:px-3 dark:bg-gray-500 dark:text-white bg-gray-100">
      <h1 class="bg-gray-100 dark:bg-gray-500 dark:text-white">{{items.name}}</h1>
    </div>
    <div class="lg:px-3  dark:bg-gray-500 dark:text-black bg-gray-100">
      <button class="uppercase font-normal bg-green-400 hover:bg-green-600 hover:text-white p-1 rounded-lg dark:bg-green-300 dark:text-black"  (click)="onSuccess('Backend Server Started')"  [disabled]="StartButton" >Start</button>
    </div>
    <div class="lg:px-3  px-2 bg-gray-100 dark:bg-gray-500 dark:text-black">
      <button class="uppercase font-normal bg-red-400 hover:bg-red-600 hover:text-white p-1 rounded-lg" (click)="onStop('Backend Server stoped')" [disabled]="StopButton">Stop</button>
    </div>
  </div>

</div>

<div class="p-5"></div>

<div class="border-2 border-gray-600 dark:border-white bg-gray-200 sm:mx-1 lg:mx-20 rounded-xl dark:bg-gray-800  dark:text-white p-2 mb-6">
  <div class="flex flex-row justify-center items-center text-2xl p-2 bg-gray-200 font-serif dark:bg-gray-800  dark:text-white">{{SecondArray.name}} ➝ {{Tts2.name}}</div>
  <div class="flex flex-row justify-center items-center text-2xl font-mono p-2 bg-gray-200 dark:bg-gray-800  dark:text-white">{{Fts2.name}}</div>
  <div class="flex flex-row justify-center items-center font-semibold bg-gray-100 rounded-xl lg:mx-36 sm:mx-2 p-1 my-3  dark:bg-gray-500 dark:text-white" *ngFor="let items of Fts2Array">
    <div class="p-3 py-4 md:text-base sm:text-base font-normal lg:px-3 bg-gray-100 dark:bg-gray-500 dark:text-white">id: {{items.id}}</div>
    <div class="p-3 md:text-xl sm:text-base font-semibold lg:px-3 bg-gray-100 dark:bg-gray-500 dark:text-white">
      <h1 class="bg-gray-100 dark:bg-gray-500 dark:text-white">{{items.name}}</h1>
    </div>
    <div class="lg:px-3  bg-gray-100 dark:bg-gray-500 dark:text-black">
      <button class="uppercase font-normal bg-green-400 hover:bg-green-600 hover:text-white p-1 rounded-lg "  (click)="onSuccess('Backend Server Started')"  [disabled]="StartButton" >Start</button>
    </div>
    <div class="lg:px-3  px-2 bg-gray-100 dark:bg-gray-500 dark:text-black">
      <button class="uppercase font-normal bg-red-400 hover:bg-red-600 hover:text-white p-1 rounded-lg" (click)="onStop('Backend Server stoped')" [disabled]="StopButton">Stop</button>
    </div>
  </div>




</div>


<div class="p-5"></div>
</div>
